<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>
    Jenkins job that uses secure copy network protocol to push a newly released ticket-monster web archive to the systest host environment.
    Subsequently, the JEE docker container on the systest host environment is re-built using this latest ticket-monster web archive.
  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ARTIFACT_VERSION</name>
          <description>This is the version of artefact created in the release step</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.8.6">
      <taskName>Create container &amp; Deploy</taskName>
      <stageName>SYS TEST</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>wget -O ticket-monster.war &quot;http://nexus:8081/nexus/service/local/artifact/maven/redirect?r=releases&amp;g=org.jboss.examples&amp;a=ticket-monster&amp;v=$ARTIFACT_VERSION&amp;e=war&quot;


scp -i /var/lib/jenkins/.ssh/id_rsa -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no ticket-monster.war root@hpc-dl160a-01.mw.lab.eng.bos.redhat.com:docker-javaee-demo/demo/images/appserver-systest/


ssh -i /var/lib/jenkins/.ssh/id_rsa -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no root@hpc-dl160a-01.mw.lab.eng.bos.redhat.com &apos;cd /root/docker-javaee-demo/demo &amp;&amp; docker-compose -f systest.yml build&apos;

ssh -i /var/lib/jenkins/.ssh/id_rsa -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no root@hpc-dl160a-01.mw.lab.eng.bos.redhat.com &apos;cd /root/docker-javaee-demo/demo &amp;&amp; docker-compose -f systest.yml up -d&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.25">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>ticket-monster-test-sys, </projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>
